.champs-league{
    width: 300px
}
.sufc{
    width: 300px 
}
body{ color: white}

.france {
    width: 300px
}

.prem{
    width: 300px
}
.messi-ronaldo{
    width: 300px 
    
}

p {
    font family: "times new roman" , times, serif
}